John_s_Helper.json
{
  "name": "John's Helper",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        540,
        480
      ],
      "id": "68d3d1d0-088f-4ee4-952d-3c3619c9406c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VJ1qnFjoeeFCq7vA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You will need to use listTools to get the tool list.\n\n{{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        640,
        80
      ],
      "id": "dabcf851-1cf7-4540-96f0-d04d0d352561",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "99cbeb40-b335-4a53-8faf-578dd0c5059d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        200
      ],
      "id": "ade13272-76a3-40c9-9e77-dac3d97d9322",
      "name": "Webhook",
      "webhookId": "99cbeb40-b335-4a53-8faf-578dd0c5059d"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        440,
        200
      ],
      "id": "d83d4563-fb58-4263-93c3-6b777a701dba",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "VJ1qnFjoeeFCq7vA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1036,
        200
      ],
      "id": "277b4db5-e361-441b-a332-f9ea5d4b5be4",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "VJ1qnFjoeeFCq7vA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/audio",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "data"
            },
            {
              "name": "id",
              "value": "={{ $('Webhook').item.json.query.id }}"
            },
            {
              "name": "text",
              "value": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        200
      ],
      "id": "1169df25-55ae-4152-a2e5-cd1f678bc51b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "connectionType": "sse"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        960,
        440
      ],
      "id": "1eb4dbdf-ecbb-4e9e-b49a-64eb3cd36251",
      "name": "MCP Client",
      "credentials": {
        "mcpClientSseApi": {
          "id": "lFLjNKw3GSBN84pr",
          "name": "MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.query.chat_session }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        840,
        500
      ],
      "id": "2e008de6-813e-46e3-9a52-a746bdc227c5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-sonnet-20241022",
          "mode": "list",
          "cachedResultName": "Claude 3.5 Sonnet (New)"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        700,
        500
      ],
      "id": "cb111376-4ce2-4ce5-9f9b-8851380c6390",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "vn5amc7TG9jiPA4x",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "sse",
        "operation": "executeTool",
        "toolName": "={{ $fromAI('toolName', 'insert the tool name here') }}",
        "toolParameters": "={{ $fromAI('toolParameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1080,
        460
      ],
      "id": "f76a707e-3747-4dec-8d99-871d0b73477f",
      "name": "MCP Execute",
      "credentials": {
        "mcpClientSseApi": {
          "id": "lFLjNKw3GSBN84pr",
          "name": "MCP Client (STDIO) account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Execute": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "623b874f-8ad2-475a-8a32-536f4f779706",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "srOnR8PAY3u4RSwb",
  "tags": []
}